@import "reset.css";

/*.................*/

:root {
	--primary: #FFF8FB;
	--secondary: #F5F5F590;
	/*--secondary: #fff;*/
	--text: #333;
	--text: #3C2622;
}

/* #FFF8FB #F5F5F5 #333*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}

html, body {
	scroll-behavior: smooth;
}

.wrapper {
	width: 100%;
	max-width: 1100px;
	margin-inline: auto;
	overflow: hidden;
	/*border: 1px solid black;*/
	min-height: 100vh;
}

img {
	width: 100%;
	object-fit: cover;
	object-position: 50%;

}


body {
	background: var(--primary);
	color: var(--text);
}

section {
	/*border: 3px dashed red;*/
	padding-top: 4rem;
}


/*......hero section style.....*/

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.hero__text {
	max-width: 300px;
	margin-inline: auto;
	/*border:2px dashed blue;*/
	text-align: center;
	padding: 3rem 1.5rem 1rem;
	font-size: 1.5rem;
}

.hero__title {
	font-size: 3rem;
}


.hero__search {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    position: relative;
    /*border:1px solid green;*/
   	padding: 1.5rem 0;
   	max-width: 600px;
   	margin-inline: auto;
}

.search__container {
	position: relative;
	height: 50px;
	/*border: 1px dashed red;*/
}

input[type="text"] {
	background: #fff;
   /* border: 1px solid var(--text);*/
   /*border:0;*/
    border-radius: 20px;
    padding: 10px;
    /*padding: 10px 40px 10px 20px;*/
    height: 50px;
    width: 50px;
    font-size: 1.3rem;
   /* min-width: 150px;*/
    z-index: 99;
    transition: width 0.3s ease;
}



.search__btn {
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	width: 50px;
	border-radius: 100%;
	font-size: 1.3rem;
	background: var(--text);
	border: 0;
	color: #fff;
	cursor: pointer;
	transition: transform 0.3s ease;
}



.search__btn i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__container.active .search__input {
	width: 200px;
}

.search__container.active .search__btn {
	transform: translateX(198px);
}


.hero__images {
	display: flex;
	justify-content: space-between;
	/*border: 1px dashed brown;*/
	/*width: 600px;*/
	min-width: 300px;
	margin-inline: auto;
}


.hero__img {
    /*position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);*/
    /*height: 200px;*/
    min-width: 130px;
    max-width: 300px;
    /*border: 1.5px dashed yellow;*/
}

.hero__img2 {
 /*   position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);*/
    /*height: 200px;*/
    min-width: 130px;
    max-width: 300px;
    /*border: 1.5px dashed yellow;*/
}



/*......hero section style ends.....*/


/*......recipes section style.....*/

.recipes {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 3rem;

}

.grid-container {
	/*position: relative;*/
	width: 1000px;
	/*margin-inline: auto;*/
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	/*background: lavender;*/
}

.card {
	/*position: relative;*/
	display: flex;
	flex-direction: column;
	background: var(--secondary);
	/*border: 2px solid purple;*/
}

.card:nth-child(even) {
	flex-direction: column-reverse;
}

.card__img {
	/*position: relative;*/
	width: 250px;
	height: 250px;
	/*background: purple;*/
}

.card__img img {
/*	position: absolute;*/
	width: 100%;
	height: 100%;
	object-fit: cover;
	/*filter: grayscale(0%);*/
	filter: opacity(70%);

}

.card__content {
	width: 250px;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	/*border: 1px solid green;*/
}

.card__text {
	/*width: 100%;*/
	padding: 0.8rem;
	text-align: center;
}

/*......recipes section style ends.....*/


/*...MEDIA QUERIES...*/
@media (max-width: 1000px) {
	.grid-container {
		grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
	}

	.card {
		flex-direction: row;
		margin: 0.5rem 0;
	}

	.card:nth-child(even){
		flex-direction: row-reverse;
	}

	.card__img,
	.card__content {
		width: 50%;
	}

}

@media (max-width: 600px) {
	/*section {

	min-height: 70vh;
	}*/

	.card {
		flex-direction: column;
	}

	.card:nth-child(even){
		flex-direction: column;
	}

	.card__img,
	.card__content {
		width: 100%;
	}

	.card__content {
		/*height: 200px;*/
	}


}




